package web

import (
	"fmt"
	"time"

	"github.com/getpatchwork/patchwork/pkg/db"
)

type coverDetailData struct {
	Project  db.Project
	Cover    db.Cover
	Comments []db.CoverComment
	Series   *db.Series
}

templ coverDetailPage(d coverDetailData) {
	@layout(d.Cover.Name, d.Project.Linkname, []breadcrumb{
		{Label: d.Project.Name, URL: "/project/" + d.Project.Linkname + "/list/"},
		{Label: truncate(d.Cover.Name, 60)},
	}) {
		<p>
			<a href={ templ.SafeURL(coverURL(d.Project.Linkname, d.Cover.Msgid) + "mbox/") }>mbox</a>
		</p>

		<submission-meta>
			<table>
				<tbody>
					<tr>
						<th>Message ID</th>
						<td><code>{ d.Cover.Msgid }</code></td>
					</tr>
					if d.Cover.Submitter != nil {
						<tr>
							<th>Submitter</th>
							<td>@personDisplay(d.Cover.Submitter)</td>
						</tr>
					}
					<tr>
						<th>Date</th>
						<td>{ d.Cover.Date.Format(time.RFC1123Z) }</td>
					</tr>
					if d.Series != nil {
						<tr>
							<th>Series</th>
							<td>
								<a href={ templ.SafeURL(fmt.Sprintf("/project/%s/list/?series=%d", d.Project.Linkname, d.Series.ID)) }>
									if d.Series.Name != nil {
										{ *d.Series.Name }
									} else {
										{ fmt.Sprintf("Series #%d", d.Series.ID) }
									}
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</submission-meta>

		<h2>Message</h2>
		if d.Cover.Submitter != nil {
			<comment-header>
				@personDisplay(d.Cover.Submitter) { " - " }{ d.Cover.Date.Format("2006-01-02 15:04:05 UTC") }
			</comment-header>
		}
		if d.Cover.Content != nil {
			<pre>{ *d.Cover.Content }</pre>
		}

		if len(d.Comments) > 0 {
			<h2>Comments</h2>
			for _, c := range d.Comments {
				<article id={ fmt.Sprintf("comment-%d", c.ID) }>
					<comment-header>
						if c.Submitter != nil {
							@personDisplay(c.Submitter) { " - " }
						}
						{ c.Date.Format("2006-01-02 15:04:05 UTC") }
					</comment-header>
					if c.Content != nil {
						<pre>{ *c.Content }</pre>
					}
				</article>
			}
		}
	}
}
